<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{template.html}">
<head>
    <title>Appointments</title>
</head>

<body>
    <div layout:fragment="content">
        <main class="container">
            <section class="card">
                <h2 class="title">Appointments</h2>

                <div class="table-controls" sec:authorize="!hasRole('DOCTOR')">
                    <a href="appointment-form.html" th:href="@{/appointments/form}" class="btn btn-tertiary">
                        <img src="/static/assets/plus.png" th:src="@{/assets/plus.png}" alt="Add icon" class="btn-icon">
                        New appointment
                    </a>
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th>Doctor</th>
                            <th>Patient</th>
                            <th>Date</th>
                            <th>Specialty</th>
                            <th>Actions</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr th:each="appointment: ${appointments}">
                            <td th:text="${appointment.doctor}"></td>
                            <td>
                                <span th:text="${appointment.patient}"></span><br>
                                <small th:text="${appointment.patientCpf}"></small>
                            </td>
                            <td th:text="${#temporals.format(appointment.dateTime, 'dd/MM/yyyy HH:mm')}"></td>
                            <td  th:text="${appointment.specialty}"></td>
                            <td>
                                <a sec:authorize="!hasRole('DOCTOR')" href="#" class="btn btn-icon" th:href="@{/appointments/form?id={id}(id=${appointment.id})}" title="Edit">
                                    <img src="/static/assets/edit.svg" th:src="@{/assets/edit.svg}" alt="Edit">
                                </a>
                                <a href="#deleteModal" class="btn btn-icon" data-toggle="modal" th:data-id="${appointment.id}" data-url="/appointments" title="Delete">
                                    <img src="/static/assets/delete.svg" th:src="@{/assets/delete.svg}" alt="Delete">
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div th:replace="~{components/_pagination.html :: pagination(url = 'appointments', records = ${appointments})}"></div>
            </section>
        </main>

        <div th:replace="~{components/_delete_modal.html :: modal}"></div>
    </div>
</body>
</html>
