<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>404 - Not found</title>
</head>

<body>
    <div layout:fragment="content">
        <main class="container">
            <section class="card">
                <h1 class="text-center">Page not found</h1>
                <p class="text-center">The page you are looking for does not exist or has moved.</p>
            </section>
        </main>
    </div>
</body>
</html>

