<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{template.html}">
<head>
    <title>Unexpected error</title>
</head>

<body>
    <div layout:fragment="content">
        <main class="container">
            <section class="card">
                <h1 class="text-center">An unexpected error occurred.</h1>
                <p class="text-center">Please try again later.</p>
            </section>
        </main>
    </div>
</body>
</html>

